<app-loading *ngIf="loading"></app-loading>

<div class="card-columns m-5">
  <div (click)="verArtista( item )" *ngFor="let item of items" class="card puntero">
    <img [src]="item.images| noimage"  alt="card-img-top"class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        <span *ngFor="let artista of item.artists" class="badge badge-warning">
            {{ artista.name }}
        </span>
      </p>
    </div>
  </div>
</div>
